<mat-card>
  <form (submit) ="onAddPost(postForm)" #postForm="ngForm">
      <mat-form-field>
        <input matInput type="text" name="title" ngModel #title="ngModel" required>
        <mat-error *ngIf="title.invalid">Please Enter Title</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput rows="6" name="content" ngModel #content="ngModel"required></textarea>
        <mat-error *ngIf="content.invalid">Please Enter Content</mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit" color="warn" >save</button>
  </form>

</mat-card>

